[submodule "bundles/joshuarubin/zsh-custom"]
	path = bundles/joshuarubin/zsh-custom
	url = git@github.com:joshuarubin/zsh-custom.git
[submodule "bundles/joshuarubin/zsh-environment"]
	path = bundles/joshuarubin/zsh-environment
	url = git@github.com:joshuarubin/zsh-environment.git
[submodule "bundles/joshuarubin/zsh-terminal"]
	path = bundles/joshuarubin/zsh-terminal
	url = git@github.com:joshuarubin/zsh-terminal.git
[submodule "bundles/joshuarubin/zsh-editor"]
	path = bundles/joshuarubin/zsh-editor
	url = git@github.com:joshuarubin/zsh-editor.git
[submodule "bundles/joshuarubin/zsh-history"]
	path = bundles/joshuarubin/zsh-history
	url = git@github.com:joshuarubin/zsh-history.git
[submodule "bundles/joshuarubin/zsh-directory"]
	path = bundles/joshuarubin/zsh-directory
	url = git@github.com:joshuarubin/zsh-directory.git
[submodule "bundles/joshuarubin/zsh-spectrum"]
	path = bundles/joshuarubin/zsh-spectrum
	url = git@github.com:joshuarubin/zsh-spectrum.git
[submodule "bundles/joshuarubin/zsh-helper"]
	path = bundles/joshuarubin/zsh-helper
	url = git@github.com:joshuarubin/zsh-helper.git
[submodule "bundles/joshuarubin/zsh-completion"]
	path = bundles/joshuarubin/zsh-completion
	url = git@github.com:joshuarubin/zsh-completion.git
[submodule "bundles/joshuarubin/zsh-archive"]
	path = bundles/joshuarubin/zsh-archive
	url = git@github.com:joshuarubin/zsh-archive.git
[submodule "bundles/joshuarubin/zsh-fasd"]
	path = bundles/joshuarubin/zsh-fasd
	url = git@github.com:joshuarubin/zsh-fasd.git
[submodule "bundles/joshuarubin/zsh-git"]
	path = bundles/joshuarubin/zsh-git
	url = git@github.com:joshuarubin/zsh-git.git
[submodule "bundles/joshuarubin/zsh-osx"]
	path = bundles/joshuarubin/zsh-osx
	url = git@github.com:joshuarubin/zsh-osx.git
[submodule "bundles/joshuarubin/zsh-secrets"]
	path = bundles/joshuarubin/zsh-secrets
	url = git@github.com:joshuarubin/zsh-secrets.git
[submodule "bundles/joshuarubin/zsh-ssh"]
	path = bundles/joshuarubin/zsh-ssh
	url = git@github.com:joshuarubin/zsh-ssh.git
[submodule "bundles/joshuarubin/zsh-prompt"]
	path = bundles/joshuarubin/zsh-prompt
	url = git@github.com:joshuarubin/zsh-prompt.git
[submodule "bundles/joshuarubin/zsh-tmux"]
	path = bundles/joshuarubin/zsh-tmux
	url = git@github.com:joshuarubin/zsh-tmux.git
[submodule "bundles/joshuarubin/zsh-rsync"]
	path = bundles/joshuarubin/zsh-rsync
	url = git@github.com:joshuarubin/zsh-rsync.git
[submodule "bundles/joshuarubin/zsh-zmv"]
	path = bundles/joshuarubin/zsh-zmv
	url = git@github.com:joshuarubin/zsh-zmv.git
[submodule "bundles/joshuarubin/zsh-gvm"]
	path = bundles/joshuarubin/zsh-gvm
	url = git@github.com:joshuarubin/zsh-gvm.git
[submodule "bundles/joshuarubin/zsh-nodenv"]
	path = bundles/joshuarubin/zsh-nodenv
	url = git@github.com:joshuarubin/zsh-nodenv.git
[submodule "bundles/joshuarubin/zsh-rvm"]
	path = bundles/joshuarubin/zsh-rvm
	url = git@github.com:joshuarubin/zsh-rvm.git
[submodule "bundles/joshuarubin/zsh-java"]
	path = bundles/joshuarubin/zsh-java
	url = git@github.com:joshuarubin/zsh-java.git
[submodule "bundles/joshuarubin/zsh-python"]
	path = bundles/joshuarubin/zsh-python
	url = git@github.com:joshuarubin/zsh-python.git
[submodule "bundles/joshuarubin/zsh-direnv"]
	path = bundles/joshuarubin/zsh-direnv
	url = git@github.com:joshuarubin/zsh-direnv.git
[submodule "bundles/joshuarubin/zsh-homebrew"]
	path = bundles/joshuarubin/zsh-homebrew
	url = git@github.com:joshuarubin/zsh-homebrew.git
[submodule "bundles/joshuarubin/zsh-perl"]
	path = bundles/joshuarubin/zsh-perl
	url = git@github.com:joshuarubin/zsh-perl.git
[submodule "bundles/joshuarubin/zsh-screen"]
	path = bundles/joshuarubin/zsh-screen
	url = git@github.com:joshuarubin/zsh-screen.git
[submodule "bundles/joshuarubin/zsh-dpkg"]
	path = bundles/joshuarubin/zsh-dpkg
	url = git@github.com:joshuarubin/zsh-dpkg.git
[submodule "bundles/joshuarubin/zsh-typescript"]
	path = bundles/joshuarubin/zsh-typescript
	url = git@github.com:joshuarubin/zsh-typescript.git
[submodule "bundles/Tarrasch/zsh-command-not-found"]
	path = bundles/Tarrasch/zsh-command-not-found
	url = git@github.com:Tarrasch/zsh-command-not-found.git
[submodule "bundles/Tarrasch/zsh-mcd"]
	path = bundles/Tarrasch/zsh-mcd
	url = git@github.com:Tarrasch/zsh-mcd.git
[submodule "bundles/jimmijj/zsh-syntax-highlighting"]
	path = bundles/jimmijj/zsh-syntax-highlighting
	url = git@github.com:jimmijj/zsh-syntax-highlighting.git
[submodule "bundles/joshuarubin/zsh-gnu-utility"]
	path = bundles/joshuarubin/zsh-gnu-utility
	url = git@github.com:joshuarubin/zsh-gnu-utility.git
[submodule "bundles/joshuarubin/zsh-utility"]
	path = bundles/joshuarubin/zsh-utility
	url = git@github.com:joshuarubin/zsh-utility.git
[submodule "bundles/joshuarubin/zsh-grc"]
	path = bundles/joshuarubin/zsh-grc
	url = git@github.com:joshuarubin/zsh-grc.git
[submodule "bundles/joshuarubin/zsh-linuxbrew"]
	path = bundles/joshuarubin/zsh-linuxbrew
	url = git@github.com:joshuarubin/zsh-linuxbrew.git
